.container-popup-map {
    cursor:pointer;
    img {
        width: 100%;
    }
    .conainer-text-popup {
        padding: 10px;
        h3 {
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 20px;
            color: #576dae;
            font-weight: 300   
        }

        p {
            margin-top: 0;
        }
    }
}


#markerLayer img {
        border: 2px solid #576dae !important;
        width: 85% !important;
        height: 90% !important;
        border-radius: 50px;
      }

   .gm-style-iw * {
        display: block;
        width: 100%;
        background: white;
            cursor: pointer;
    }
    .gm-style .gm-style-iw {
      max-width: 270px !important;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
    .gm-style-iw + div {display: none;}
